{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('vue.descriptionSin') }}
{% endblock %}

{% block content %}
    <section class="container pt-5">
        <div id="vue-descriptionSin"></div>
    </section>
{% endblock %}

{% block javascripts_bottom %}
    {{ encore_entry_script_tags('vue.descriptionSin') }}
{% endblock %}