<template>
    <div class="row row-cols-5">
        <div v-for="(book, index) in store.books" class="col mb-2" :key="index">
            <div class="card shadow-sm" style="height: 450px">
                <img :src="generatePicture(book.image(), {width: 230, height: 350, thumbnail: 'inset'})" class="card-img-top" height="350" alt="">
                <div class="card-body">
                    <a :href="book.url()" class="card-link">{{ book.name }}</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {useStore} from '@Vue/page/books.pinia';

export default {
    setup() {
        const store = useStore();
        store.loadBooks();
        return {
            store
        }
    },
}
</script>
