<template>
    <div class="row" v-if="store.book">
        <h1 class="text-center">{{ store.book.name }}</h1>
        <div class="row">
            <div class="card mb-3">
                <div class="row">
                    <div class="col-4">
                        <img :src="generatePicture(store.book.image(), {width: 400, height: 680, thumbnail: 'inset'})" class="img-fluid rounded-start" alt="">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <p v-html="store.book.description"></p>
                            <p v-for="(isbn, index) in store.book.isbnCollection" :key="index">ISBN: {{isbn.text}}</p>
                            <p v-if="store.book.codeOfPublishingCouncil">Код Издательского Совета: ИС {{store.book.codeOfPublishingCouncil}}</p>
                            <p v-if="store.book.blessedByPatriarchKirill">По благословению Святейшего Патриарха Московского и всея Руси Кирилла.</p>
                            <p v-if="store.book.recommendedByPublishingCouncilRoc">Рекомендовано к публикации Издательским советом Русской Православной Церкви.</p>
                            <p v-if="store.book.recommendedByPublishingCouncilBoc">Рекомендовано к публикации Издательским советом Белорусской Православной Церкви</p>
                            <p v-if="store.book.dateOfWriting">Дата написания: {{store.book.dateOfWriting.format('YYYY')}}</p>
                            <p v-if="store.book.dateOfPublished">Дата издания: {{store.book.dateOfPublished.format('YYYY')}}</p>
                            <p v-if="store.book.languageOfThePublication">Язык издания: {{store.book.languageOfThePublication}}</p>
                            <p>Объем:  стр. {{store.book.pageSize}}</p>
                            <div class="mb-2">
                                <div>Ссылки:</div>
                                <div v-for="(item, index) in store.book.links" :key="index"><a rel="nofollow"  :href="item.link">{{item.link}}</a></div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                            <div class="card-footer bg-transparent d-flex justify-content-end">
                                <a :href="store.book.firstLinkBuy" target="_blank" rel="nofollow" class="btn btn-sm btn-outline-secondary">Купить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {useStore} from '@Vue/page/book.pinia';
import lodash from 'lodash';

export default {
    props: ['location'],
    setup() {
        const store = useStore();
        return {
            store
        }
    },
    async beforeMount() {
        let location = window.location.pathname;
        if (!lodash.isNil(this.location)) {
            location = this.location;
        }
        let pattern = new RegExp('^/book/(?<id>.+)$');
        let match = location.match(pattern);
        await this.store.loadBook(match.groups.id);
    }
}
</script>
