<template>
    <div v-if="store.descriptionSin">
        <p class="h4 text-center">Заповедь: {{ store.descriptionSin.precept.name }}</p>
        <h1 class="h1 text-center text-first-capitalize">Грех: {{ store.descriptionSin.name }}</h1>
        <div class="border p-4 rounded">
            <div  class="ck-content" v-html="store.descriptionSin.text"></div>
        </div>
    </div>
</template>

<script>
import lodash from 'lodash';
import { useStore } from '@Vue/page/discripitonSin.pinia'

export default {
    setup() {
        const store = useStore();
        return {
            store
        }
    },
    props: ['location'],
    async beforeMount() {
        let location = window.location.pathname;
        if (!lodash.isNil(this.location)) {
            location = this.location;
        }
        let pattern = new RegExp('^/precept/(?<preceptId>.+)/description/sin/(?<id>.+)$');
        let match = location.match(pattern);
        await this.store.loadDescription(match.groups.preceptId, match.groups.id)
    },
}
</script>

<style scoped>

</style>
