<template>
    <div>
        <div v-for="(precept, index) in store.precepts" class="card mb-12 mb-3" ref="items" :key="index">
            <div class="card-header h5">
                <a :href="precept.link" rel="nofollow" class="link-dark text-decoration-none" target="_blank">
                    {{ index + 1 }}.
                    <span v-if="isChurchSlavonicLang" class="slavonic fw-bolder">
                         {{ precept.nameSlavonic }}
                    </span>
                    <span v-else>
                       {{ precept.name }}
                    </span>
                </a> - {{ precept.verse }}
            </div>
            <div class="card-body">
                <p class="card-text" v-html="render(precept.sins)"></p>
            </div>
        </div>
    </div>
</template>

<script>
import bootstrap from 'bootstrap/dist/js/bootstrap';
import DescriptionSin from '@Vue/src/Entities/DescriptionSin';
import {useStore} from '@Vue/page/mian.pinia';
import {RequestService} from '@Vue/src/Services/RequestService';

export default {
    setup() {
        const store = useStore();
        let isChurchSlavonicLang = RequestService.create().contains(/^\/cs/);

        return {
            store,
            isChurchSlavonicLang
        }
    },
    methods: {
        render(items) {
            let result = [];
            let length = items.length
            for (let i = 0; i < length;i++ ) {
                var text = '';
                if (items[i].popoverContent !== '') {
                    text = '<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-html="true" data-bs-content="' + items[i].popoverContent + '">' + items[i].name + '</span>'
                } else {
                    text = items[i].name;
                }
                if (items[i].descriptionSin instanceof DescriptionSin) {
                    text = '<a href="' + items[i].url() + '"> ' + text + '</a>'
                }
                result.push(text);
            }
            return 'Грехи: ' + result.join(', ')
        },
    },
    async beforeCreate() {
        this.store.loadPrecepts().then(function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
            popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl)
            })
        });
    },

}
</script>