{% extends 'cp/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('vue.cp.form.sin') }}
{% endblock %}

{% block content %}
    <div class="container">
        {% if precept is not null %}
            <h1>{{ precept.name }}</h1>
        {% endif %}
        {{ flash_widget() }}
        <div id="vue-cp-form-sin"></div>
    </div>
{% endblock %}

{% block javascripts_bottom %}
    {{ encore_entry_script_tags('vue.cp.form.sin') }}
{% endblock %}
