<template>
    <div class="test">
        <div class="card w-25" v-if="store.coverImage.value">
            <img :src="generatePicture(getCoverImageUrl(store.coverImage.value.name))" alt="">
        </div>
        <form @submit.prevent="onSubmit">
            <div class="mb-3">
                <FormFile
                    label="Cover image"
                    :action="actionImage"
                    v-bind:input="store.coverImage"
                    isRequired
                >
                </FormFile>
            </div>
            <div class="mb-3">
                <FormInput
                    label="Name"
                    v-bind:input="store.name"
                    isRequired
                ></FormInput>
            </div>
            <div class="mb-3">
                <FormPartLinks
                    v-bind:input="store.links"
                    :options="store.linkOptions"
                >
                </FormPartLinks>
            </div>
            <div class="mb-3">
                <CKEditor
                    label="Description"
                    v-bind:input="store.description"
                ></CKEditor>
            </div>
            <div class="mb-3">
                <FormPartTexts
                    v-bind:input="store.isbnCollection"
                >
                </FormPartTexts>
            </div>
            <div class="mb-3">
                <FormCheckbox
                    label="По благословению Святейшего Патриарха Московского и всея Руси Кирилла"
                    v-bind:input="store.blessedByPatriarchKirill"
                ></FormCheckbox>
            </div>
            <div class="mb-3">
                <FormCheckbox
                    label="Рекомендовано к публикации Издательским советом Русской Православной Церкви"
                    v-bind:input="store.recommendedByPublishingCouncilRoc"
                ></FormCheckbox>
            </div>
            <div class="mb-3">
                <FormCheckbox
                    label="Рекомендовано к публикации Издательским советом Белорусской Православной Церкви"
                    v-bind:input="store.recommendedByPublishingCouncilBoc"
                ></FormCheckbox>
            </div>
            <div class="mb-3">
                <FormInput
                    label="Код Издательского Совета Русской Православной Церкви"
                    v-bind:input="store.codeOfPublishingCouncil"
                ></FormInput>
            </div>
            <div class="mb-3">
                <FormSelect
                    label="Язык издания"
                    isRequired
                    v-bind:input="store.languageOfThePublication"
                ></FormSelect>
            </div>
            <div class="mb-3">
                <FormInput
                    label="Date of writing"
                    type="date"
                    v-bind:input="store.dateOfWriting"
                ></FormInput>
            </div>
            <div class="mb-3">
                <FormInput
                    label="Date of published"
                    type="date"
                    v-bind:input="store.dateOfPublished"
                ></FormInput>
            </div>
            <div class="mb-3">
                <FormInput
                    label="Page size"
                    v-bind:input="store.pageSize"
                    isRequired
                ></FormInput>
            </div>
            <div class="mb-3">
                <FormCheckbox
                    label="Publish"
                    v-bind:input="store.publish"
                ></FormCheckbox>
            </div>
            <fieldset>
                <legend>Meta</legend>
                <div class="mb-3">
                    <FormInput
                        label="Title"
                        v-bind:input="store.metaTitle"
                    ></FormInput>
                </div>
                <div class="mb-3">
                    <FormInput
                        label="Description"
                        v-bind:input="store.metaDescription"
                    ></FormInput>
                </div>
            </fieldset>
            <div class="mb-3">
                <FormButton text="Save"></FormButton>
            </div>
        </form>
    </div>
</template>

<script>
import BaseForm from '@Vue/component/Form/BaseForm';
import {useStore} from '@Vue/form/cp/book.pinia';
import {RequestService} from '@Vue/src/Services/RequestService';
import S3Service from '@Vue/src/Services/s3.service';
import lodash from 'lodash';
import FormPartLinks from '@Vue/form/cp/parts/Links'
import FormPartTexts from '@Vue/form/cp/parts/Texts'
import CKEditor from '@Vue/component/Form/Ckeditor';
import RouteCpService from '@Js/services/RouteCpService';

export default {
    extends: BaseForm,
    props: ['location'],
    components: {
        FormPartLinks,
        FormPartTexts,
        CKEditor
    },
    setup(args) {
        let location = RequestService.create().requestUri();
        if (!lodash.isNil(args.location)) {
            location = args.location;
        }
        let store = useStore();
        let url = new RouteCpService().generateBookCreate();
        let pattern = new RegExp('^/cp/book/(?<id>.+)/edit$');
        let match = location.match(pattern);
        let id = undefined;
        if (null !== match) {
            id = match.groups.id;
            url = new RouteCpService().generateBookEdit(id);
        }
        store.init(id);
        let actionImage = new RouteCpService().generateImageUpload();
        return {
            store, url, actionImage
        }
    },
    methods: {
        action() {
            return this.url;
        },
        getCoverImageUrl(path) {
            return new S3Service().getUrl(path)
        },
    }
}
</script>
