<template>
    <form @submit.prevent="onSubmit">
        <div class="mb-3">
            <FormInput
                label="Name"
                isRequired
                v-bind:input="store.name"
            ></FormInput>
        </div>
        <div class="mb-3">
            <CKEditor
                label="Text"
                v-bind:input="store.text"
            ></CKEditor>
        </div>
        <div class="mb-3">
            <FormSelect
                label="Sins"
                v-bind:input="store.sins"
                multiple
            ></FormSelect>
        </div>
        <div class="mb-3">
            <FormSelect
                label="Precept"
                v-bind:input="store.precept"
                isRequired
            ></FormSelect>
        </div>
        <fieldset>
            <legend>Meta</legend>
            <div class="mb-3">
                <FormInput
                    label="Title"
                    v-bind:input="store.metaTitle"
                ></FormInput>
            </div>
            <div class="mb-3">
                <FormInput
                    label="Description"
                    v-bind:input="store.metaDescription"
                ></FormInput>
            </div>
        </fieldset>
        <div class="mb-3">
            <FormButton text="Save"></FormButton>
        </div>
    </form>
</template>

<script>
import BaseForm from '@Vue/component/Form/BaseForm';
import {useStore} from '@Vue/form/cp/descriptionSin.pinia';
import {RequestService} from '@Vue/src/Services/RequestService';
import CKEditor from '@Vue/component/Form/Ckeditor';
import RouteCpService from '@Js/services/RouteCpService';

export default {
    components: {
        CKEditor
    },
    extends: BaseForm,
    setup() {
        let store = useStore();
        let pattern = new RegExp('^/cp/description/sin/(?<id>.+)/edit$');
        let url = new RouteCpService().generateDescriptionSinCreate();
        let match = RequestService.create().requestUri().match(pattern);
        let id = undefined;
        if (null !== match) {
            id = match.groups.id;
            url = new RouteCpService().generateDescriptionSinEdit(id)
        }
        store.init(id);
        return {
            store, url
        }
    },
    methods: {
        action() {
            return this.url;
        }
    }
}
</script>
