<template>
    <form @submit.prevent="onSubmit">
        <div class="col-12">
            <div class="form-check form-switch">
                <input v-model="showKeyboard" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Клавиатура</label>
            </div>
        </div>
        <div class="mb-3">
            <div class="row">
                <FormInput
                    class="slavonic"
                    label="Name"
                    isRequired
                    v-bind:input="store.name"
                ></FormInput>
                <div :class="{'position-relative': true, 'd-none': !showKeyboard, ' mt-3': true}">
                    <Keyboard v-bind:input="store.name"></Keyboard>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="row">
                <FormInput
                    class="slavonic"
                    label="Normalize name"
                    v-bind:input="store.normalizeName"
                ></FormInput>
                <div :class="{'position-relative': true, 'd-none': !showKeyboard, ' mt-3': true}">
                    <Keyboard v-bind:input="store.normalizeName"></Keyboard>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="row">
                <FormTextarea
                    class="slavonic"
                    label="description"
                    isRequired
                    v-bind:input="store.description"
                ></FormTextarea>
                <div :class="{'position-relative': true, 'd-none': !showKeyboard, ' mt-3': true}">
                    <Keyboard v-bind:input="store.description"></Keyboard>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <FormCheckbox
                label="Titlo"
                v-bind:input="store.titlo"
            ></FormCheckbox>
        </div>
        <div class="mb-3">
            <FormButton text="Save"></FormButton>
        </div>
    </form>
</template>
<script>
import BaseForm from '@Vue/component/Form/BaseForm';
import {useStore} from '@Vue/form/cp/dictionary.pinia.js';
import Keyboard from '@Vue/component/Keyboard';
import RouteCpService from '@Js/services/RouteCpService';
import {RequestService} from '@Vue/src/Services/RequestService';
import lodash from 'lodash';

export default {
    components: {
        Keyboard
    },
    extends: BaseForm,
    setup(args) {
        let location = RequestService.create().requestUri();
        if (!lodash.isNil(args.location)) {
            location = args.location;
        }

        let store = useStore();
        let url = new RouteCpService().generateDictionaryCreate();
        let pattern = new RegExp('^/cp/dictionary/(?<id>.+)/edit$');
        let match = location.match(pattern);
        let id = undefined;
        if (null !== match) {
            id = match.groups.id;
            url = new RouteCpService().generateDictionaryEdit(id);
        }
        store.init(id);
        return {
            store, url
        }
    },
    data() {
        return {
            showKeyboard: false,
        }
    },
    methods: {
        action() {
            return this.url;
        },
    }
}
</script>
