<template>
    <form @submit.prevent="onSubmit">
        <div class="mb-3">
            <FormSelect
                label="Key"
                v-bind:input="store.key"
                isRequired
            ></FormSelect>
        </div>
        <div class="mb-3">
            <FormInput
                label="Title"
                v-bind:input="store.title"
            ></FormInput>
        </div>
        <div class="mb-3">
            <FormTextarea
                label="Description"
                v-bind:input="store.description"
                isRequired
            ></FormTextarea>
        </div>
        <div class="mb-3">
            <FormButton text="Save"></FormButton>
        </div>
    </form>
</template>

<script>
import BaseForm from '@Vue/component/Form/BaseForm';
import {useStore} from '@Vue/form/cp/meta.pinia';
import {RequestService} from '@Vue/src/Services/RequestService';
import RouteCpService from '@Js/services/RouteCpService';

export default {
    extends: BaseForm,
    setup() {
        let store = useStore();
        let pattern = new RegExp('^/cp/meta/(?<key>\\w+)/edit$');
        let match = RequestService.create().requestUri().match(pattern);
        let key = undefined;
        let url = new RouteCpService().generateMetaCreate();
        if (match !== null) {
            key = match.groups.key
            url = new RouteCpService().generateMetaEdit(key);
        }
        store.init(key);
        return {
            store, url
        }
    },
    methods: {
        action() {
            return this.url;
        }
    }
}
</script>

<style scoped>

</style>
