<template>
    <form @submit.prevent="onSubmit">
        <div class="mb-3">
            <FormInput
                label="Title"
                v-bind:input="store.title"
                isRequired
            ></FormInput>
        </div>
        <div class="mb-3">
            <FormInput
                label="Link"
                v-bind:input="store.link"
                isRequired
            ></FormInput>
        </div>
        <div class="mb-3">
            <CKEditor
                label="Description"
                v-bind:input="store.description"
            ></CKEditor>
        </div>
        <div class="mb-3">
            <FormCheckbox
                label="Publish"
                v-bind:input="store.publish"
            ></FormCheckbox>
        </div>
        <fieldset>
            <legend>Meta</legend>
            <div class="mb-3">
                <FormInput
                    label="Title"
                    v-bind:input="store.metaTitle"
                ></FormInput>
            </div>
            <div class="mb-3">
                <FormInput
                    label="Description"
                    v-bind:input="store.metaDescription"
                ></FormInput>
            </div>
        </fieldset>
        <div class="mb-3">
            <FormButton text="Save"></FormButton>
        </div>
    </form>
</template>

<script>
import BaseForm from '@Vue/component/Form/BaseForm';
import {useStore} from '@Vue/form/cp/music.pinia';
import {RequestService} from '@Vue/src/Services/RequestService';
import CKEditor from '@Vue/component/Form/Ckeditor';
import lodash from 'lodash';
import RouteCpService from '@Js/services/RouteCpService';

export default {
    props: ['id'],
    components: {
        CKEditor
    },
    extends: BaseForm,
    setup(args) {
        console.log(args);
        let store = useStore();
        let url = new RouteCpService().generateMusicCreate();
        if (lodash.isNil(args.id)) {
            let pattern = new RegExp('^/cp/music/(?<id>.+)/edit$');
            let match = RequestService.create().requestUri().match(pattern);
            if (match !== null) {
                let id = match.groups.id;
                url = new RouteCpService().generateMusicEdit(id);
                store.init(id);
            }
        } else {
            url = new RouteCpService().generateMusicEdit(args.id);
            store.init(args.id);
        }
        return {
            store,
            url
        }
    },
    methods: {
        action() {
            return this.url;
        }
    }
}
</script>

<style scoped>

</style>
