<template>
    <form @submit.prevent="onSubmit">
        <div class="mb-3">
            <FormInput
                label="Title"
                v-bind:input="store.title"
                isRequired
            ></FormInput>
        </div>
        <div class="mb-3">
            <CKEditor
                label="Content"
                v-bind:input="store.content"
            ></CKEditor>
        </div>
        <div class="mb-3">
            <FormCheckbox
                label="Publish"
                v-bind:input="store.publish"
            ></FormCheckbox>
        </div>
        <Meta :store="store"></Meta>
        <div class="mb-3">
            <FormButton text="Save"></FormButton>
        </div>
    </form>
</template>

<script>
import CKEditor from '@Vue/component/Form/Ckeditor';
import BaseForm from '@Vue/component/Form/BaseForm';
import {useStore} from '@Vue/form/cp/page.pinia';
import {RequestService} from '@Vue/src/Services/RequestService';
import RouteCpService from '@Js/services/RouteCpService';
import Meta from '@Vue/form/cp/parts/Meta';
import {useStore as usePageStore} from '@Vue/page/cp/pages.pinia';
import lodash from 'lodash';

export default {
    components: {
        CKEditor,
        Meta
    },
    extends: BaseForm,
    setup() {
        let store = useStore();
        let pageStore = usePageStore();
        let pattern = new RegExp('^/cp/page/(?<id>.+)/edit$');
        let match = RequestService.create().requestUri().match(pattern);
        store.url = new RouteCpService().generatePageCreate();
        if (match !== null) {
            let id = match.groups.id;
            store.url = new RouteCpService().generatePageEdit(id);
            store.init(id);
        }
        return {
            store,
            pageStore
        }
    },
    methods: {
        action() {
            return this.store.url;
        },
        async afterSave(response) {
            this.pageStore.load();
            if (response.success && !lodash.isNil(response.id)) {
                this.store.url = new RouteCpService().generatePageEdit(response.id);
            }
        }
    }
}
</script>
