<template>
    <form @submit.prevent="onSubmit">
        <div class="mb-3">
            <FormInput
                label="Link"
                v-bind:input="store.link"
                isRequired
            ></FormInput>
        </div>
        <div class="mb-3">
            <FormInput
                label="Verse"
                v-bind:input="store.verse"
                isRequired
            ></FormInput>
        </div>
        <div class="mb-3">
            <FormButton text="Save"></FormButton>
        </div>
    </form>
</template>

<script>
import {useStore} from '@Vue/form/cp/precept.pinia';
import BaseForm from '@Vue/component/Form/BaseForm';
import {RequestService} from '@Vue/src/Services/RequestService';
import RouteCpService from '@Js/services/RouteCpService';
import lodash from 'lodash';

export default {
    props: ['location'],
    extends: BaseForm,
    setup(args) {
        let location = RequestService.create().requestUri();
        if (!lodash.isNil(args.location)) {
            location = args.location;
        }
        let store = useStore();
        let pattern = new RegExp('^/cp/precept/(?<id>.+)/edit$');
        let match = location.match(pattern);
        store.init(match.groups.id);
        let url = new RouteCpService().generatePreceptEdit(match.groups.id);
        return {
            store, url
        }
    },
    methods: {
        action() {
            return this.url;
        }
    }
}
</script>

<style scoped>

</style>
