<template>
    <form @submit.prevent="onSubmit">
        <div class="mb-3">
            <FormInput
                label="Name"
                v-bind:input="store.name"
                isRequired
            ></FormInput>
        </div>
        <div class="mb-3">
            <div class="col-12">
                <div class="form-check form-switch">
                    <input v-model="showKeyboard" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Клавиатура</label>
                </div>
            </div>
            <FormInput
                label="Name in church slavonic"
                class="slavonic"
                v-bind:input="store.nameSlavonic"
            ></FormInput>
            <div :class="{'position-relative': true, 'd-none': !showKeyboard, ' mt-3': true}">
                <Keyboard v-bind:input="store.nameSlavonic"></Keyboard>
            </div>
        </div>
        <div class="mb-3">
            <FormInput
                label="Popover content"
                v-bind:input="store.popoverContent"
            ></FormInput>
        </div>
        <div class="mb-3">
            <FormInput
                label="Position"
                type="number"
                v-bind:input="store.position"
            ></FormInput>
        </div>
        <div class="mb-3">
            <FormSelect
                label="Precept"
                v-bind:input="store.precept"
                isRequired
            ></FormSelect>
        </div>
        <div class="mb-3">
            <FormCheckbox
                label="Publish"
                v-bind:input="store.isPublish"
            ></FormCheckbox>
        </div>
        <div class="mb-3">
            <FormButton text="Save"></FormButton>
        </div>
    </form>
</template>

<script>
import BaseForm from '@Vue/component/Form/BaseForm';
import {useStore} from '@Vue/form/cp/sin.pinia';
import {RequestService} from '@Vue/src/Services/RequestService';
import RouteCpService from '@Js/services/RouteCpService';
import Keyboard from '@Vue/component/Keyboard';

export default {
    components: {
        Keyboard
    },
    extends: BaseForm,
    setup() {
        let store = useStore();
        let pattern = new RegExp('^/cp/precept/(?<preceptId>.+)/sin/(?<id>.+)/edit$');
        let match = RequestService.create().requestUri().match(pattern);
        let url = undefined;
        let preceptId = undefined;
        let sinId = undefined;
        console.debug({'method': 'setup',message: 'parse url', data: match})
        if (match === null) {
            url = new RouteCpService().generateSinCreate();
        } else {
            preceptId = match.groups.preceptId;
            sinId = match.groups.id;
            url = new RouteCpService().generateSinEdit(sinId);
        }
        console.debug({'method': 'setup',message: 'action', action: url})
        store.init(preceptId, sinId);
        return {
            store, url
        }
    },
    data() {
        return {
            showKeyboard: false,
        }
    },
    methods: {
        action() {
            return this.url;
        }
    }
}
</script>

<style scoped>

</style>
