@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Caveat');
/** BEGIN FORM */
.ck-content * {
    font-family: 'Lobster', serif;
}
/** END FORM */

/** BEGIN  FLASH MESSAGE */
.toast-bottom-right {
    bottom: 45px;
}
/** END FLASH MESSAGE */
