<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('main') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.attributes.get('_route') == 'cp.main' ? 'active' : '' }}" aria-current="page" href="{{ path('cp.main') }}">Cp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.attributes.get('_controller') starts with 'App\\Controller\\Cp\\Feedback' ? 'active' : '' }}" href="{{ path('cp.feedbacks') }}">Feedbacks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.attributes.get('_controller') starts with 'App\\Controller\\Cp\\Sin' ? 'active' : '' }}" href="{{ path('cp.sins') }}">Sins</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.attributes.get('_controller') starts with 'App\\Controller\\Cp\\DescriptionSin' ? 'active' : '' }}" href="{{ path('cp.description_sins') }}">Description Sins</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.attributes.get('_controller') starts with 'App\\Controller\\Cp\\Precept' ? 'active' : '' }}" href="{{ path('cp.precepts') }}">Precepts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  {{ app.request.attributes.get('_controller') starts with 'App\\Controller\\Cp\\Book' ? 'active' : '' }}" href="{{ path('cp.books') }}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  {{ app.request.attributes.get('_controller') starts with 'App\\Controller\\Cp\\Meta' ? 'active' : '' }}" href="{{ path('cp.meta') }}">Meta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.attributes.get('_controller') starts with 'App\\Controller\\Cp\\Video' ? 'active' : '' }}" href="{{ path('cp.video') }}">Video</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.attributes.get('_controller') starts with 'App\\Controller\\Cp\\Dictionary' ? 'active' : '' }}" href="{{ path('cp.dictionaries') }}">Dictionary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.attributes.get('_controller') starts with 'App\\Controller\\Cp\\Schedule' ? 'active' : '' }}" href="{{ path('cp.schedule.month') }}">Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.attributes.get('_controller') starts with 'App\\Controller\\Cp\\Page' ? 'active' : '' }}" href="{{ path('cp.pages') }}">Page</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
