{% extends 'cp/base.html.twig' %}

{% block content %}
    <div class="container">
        <p class="mt-2">
            <a href="{{ path('cp.meta.create') }}" class="btn-danger btn">Create</a>
        </p>
        <div id="vue-cp-meta"></div>
    </div>
{% endblock %}

{% block javascripts_bottom %}
    {{ encore_entry_script_tags('vue.cp.meta') }}
{% endblock %}