{% extends 'cp/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('vue.cp.form.meta') }}
{% endblock %}


{% block content %}
    <div class="container">
        {{ flash_widget() }}
        <div id="vue-cp-form-meta"></div>
    </div>
{% endblock %}


{% block javascripts_bottom %}
    {{ encore_entry_script_tags('vue.cp.form.meta') }}
{% endblock %}
