<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />

        <title>{% block title %}Control Panel{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        {{ encore_entry_link_tags('cp') }}
        {% block stylesheets %}

        {% endblock %}
        {% block javascripts %}

        {% endblock %}
    </head>
    <body>
        {% include 'cp/parts/_navbar-top.html.twig' %}
        <main>
            {% block content %}{% endblock %}
        </main>
        <div class="container">
            <footer class="py-5">
                <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                    <p>&copy; 2022 Company, Inc. All rights reserved.</p>
                    <ul class="list-unstyled d-flex">
                        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
                        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
                        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
                    </ul>
                </div>
            </footer>
        </div>
        <div id="vue-flash-message"></div>
        {{ encore_entry_script_tags('cp') }}
        {% block javascripts_bottom %}
        {% endblock %}
    </body>
</html>
