<template>
    <fieldset>
        <legend :class="classes">{{label}}</legend>
        <slot name="content"></slot>
        <button class="btn btn-success" @click.prevent="push">{{button}}</button>
        <div v-if="input.invalidFeedback" class="invalid-feedback">{{ input.invalidFeedback }}</div>
    </fieldset>
</template>

<script>
import {Multiple} from '@Vue/component/Form/Variable.pinia';

export default {
    props: {
        label: {
            required: true,
        },
        button: {
            required: true,
        },
        input: {
            type: Object,
            require: true,
            default: new Multiple(),
        },
        template: {
            type: Function,
            require: true,
        }
    },
    data() {
        return {
            data: this.input
        }
    },
    methods: {
        push() {
            this.data.items.push(this.template())
        },
    },
    computed: {
        classes() {
            return {
                'is-invalid': this.input.isInvalid,
            };
        },
    },
}
</script>

<style scoped>

</style>
