<template>
    <Collection v-bind:input="data" label="Link" button="Add Link" :template="template">
        <template #content>
            <div class="row  mb-3 " v-for="(item, key) in data.items" :key="key">
                <div class="col-md-10">
                    <div class="input-group">
                        <input type="text" class="form-control" v-model="item.link">
                        <button class="btn btn-outline-secondary" type="button" @click.prevent="remove(key)">Remove</button>
                    </div>
                </div>
                <div class="col-md-2">
                    <select v-model="item.type" class="form-select">
                        <option v-for="(option, index) in options" :value="option.value" :key="index">{{option.text}}</option>
                    </select>
                </div>
            </div>
        </template>
    </Collection>
</template>

<script>
import Collection from '@Vue/form/cp/parts/Collection';
import {props, methods} from '@Vue/form/cp/parts/vue.extension';

let component = {
    components: {
        Collection
    },
    props: {
        options: {},
    },
    data() {
        return {
            data: this.input,
            template: function () {
                return {type: 'unknown', link: ''};
            }
        }
    },
    methods: {},
    computed: {}
}
Object.assign(component.props, props);
Object.assign(component.methods, methods);
export default component;
</script>
