<template>
    <fieldset>
        <legend>Meta</legend>
        <div class="mb-3">
            <FormInput
                label="Title"
                v-bind:input="store.metaTitle"
            ></FormInput>
        </div>
        <div class="mb-3">
            <FormInput
                label="Description"
                v-bind:input="store.metaDescription"
            ></FormInput>
        </div>
    </fieldset>
</template>

<script>
import FormInput from '@Vue/component/Form/Input';

export default {
    props: ['store'],
    components: {
        FormInput,
    }
}
</script>
