<template>
    <Collection v-bind:input="data" label="Isbn" button="Add ISBN" :template="template">
        <template #content>
            <div class="row  mb-3 " v-for="(item, key) in data.items" :key="key">
                <div class="col-12">
                    <div class="input-group">
                        <input type="text" class="form-control" v-model="item.text">
                        <button class="btn btn-outline-secondary" type="button" @click.prevent="remove(key)">Remove</button>
                    </div>
                </div>
            </div>
        </template>
    </Collection>
</template>

<script>
import Collection from '@Vue/form/cp/parts/Collection';
import {methods, props} from '@Vue/form/cp/parts/vue.extension';

let component = {
    components: {
        Collection
    },
    props: {},
    data() {
        return {
            data: this.input,
            template: function () {
                return {text: ''}
            },
        }
    },
    methods: {},
    computed: {}
}
Object.assign(component.methods, methods);
Object.assign(component.props, props);
export default component;
</script>

<style scoped>

</style>
