{% extends 'cp/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('vue.cp.schedule.week') }}
{% endblock %}

{% block content %}
    <div class="container pt-3">
        <div id="vue-cp-schedule-week"></div>
    </div>
{% endblock %}

{% block javascripts_bottom %}
    {{ encore_entry_script_tags('vue.cp.schedule.week') }}
{% endblock %}
