{% extends 'cp/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('vue.cp.music') }}
{% endblock %}

{% block content %}
    <div class="container">
        {{ flash_widget() }}
        <p class="mt-2">
            <a href="{{ path('cp.music.create') }}" class="btn-danger btn">Create</a>
        </p>
        <div id="vue-cp-music"></div>
    </div>
{% endblock %}

{% block javascripts_bottom %}
    {{ encore_entry_script_tags('vue.cp.music') }}
{% endblock %}
