{% extends 'cp/base.html.twig' %}

{% block content %}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Theme</th>
                    <th scope="col">Message</th>
                </tr>
            </thead>
            {% for feedback in feedbacks %}
                <tbody>
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ feedback.id }}</td>
                    <td>{{ feedback.firstName }}</td>
                    <td>{{ feedback.email }}</td>
                    <td>{{ feedback.phone }}</td>
                    <td>{{ feedback.theme }}</td>
                    <td>{{ feedback.message }}</td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}