<h1>Вам написали письмо</h1>

<p>Name: {{ feedback.firstName }}</p>
<p>Email: {{ feedback.email }}</p>
{% if (feedback.phone is not empty) %}
    <p>Phone: {{ feedback.phone }}</p>
{% endif %}
<p>Theme: {{ feedback.theme }}</p>
<p>Message: {{ feedback.message }}</p>