<template>
    <table class="table" v-if="store.books">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(book, index) in store.books" :key="index">
            <th scope="row">{{ index + 1 }}</th>
            <td>{{ book.id }}</td>
            <td>{{ book.name }}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" :href="book.editCpUrl()">Edit</a></li>
                        <DeleteItem :href="book.delete()"></DeleteItem>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</template>

<script>
import {useStore} from '@Vue/page/cp/books.pinia';
import DeleteItem from '@Vue/page/cp/parts/DeleteItem';

export default {
    components: {
        DeleteItem
    },
    setup() {
        const store = useStore();
        return {
            store
        }
    },
    async beforeMount() {
        this.store.loadBooks();
    }
}
</script>

<style scoped>

</style>
