<template>
    <table class="table" v-if="store.descriptionSins">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(descriptionSin, index) in store.descriptionSins" :key="index">
            <th scope="row">{{ index + 1 }}</th>
            <td>{{ descriptionSin.id }}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" :href="descriptionSin.editCpUrl()">Edit</a></li>
                        <DeleteItem :href="descriptionSin.delete()"></DeleteItem>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</template>

<script>
import {useStore} from '@Vue/page/cp/descriptionSins.pinia';
import DeleteItem from '@Vue/page/cp/parts/DeleteItem';

export default {
    setup() {
        const store = useStore();
        return {
            store
        }
    },
    components: {
        DeleteItem
    },
    async beforeMount() {
        this.store.loadDescriptionSins();
    },
    methods: {
        remove(descriptionSin) {
            let request = new Request(descriptionSin.delete(), {
                method: 'post',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            });
            fetch(request);
            window.location.reload();
        }
    }
}
</script>

<style scoped>

</style>
