<template>
    <div>
        <Search
            :params="store.params"
            :paginator="store.paginator"
            :load="store.loadDictionaries"
        ></Search>
        <table class="table" v-if="store.dictionaries">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Normalize Name</th>
                <th scope="col">Description</th>
                <th scope="col">Is titlo</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(dictionary, index) in store.dictionaries" :key="index">
                <th scope="row">{{ index + 1 }}</th>
                <td>{{ dictionary.id }}</td>
                <td class="slavonic-font-Ponomar-Unicode fs-3">{{ dictionary.name }}</td>
                <td class="slavonic-font-Ponomar-Unicode fs-3">{{ dictionary.normalizeName }}</td>
                <td>{{ dictionary.description }}</td>
                <td>{{ dictionary.titloHumanRead() }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Action
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" :href="dictionary.editCpUrl()">Edit</a></li>
                            <DeleteItem :href="dictionary.delete()"></DeleteItem>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <Pagination
            :paginator="store.paginator"
            :params="store.params"
            :load="store.loadDictionaries"
        ></Pagination>
    </div>
</template>

<script>
import {useStore} from '@Vue/page/cp/dictionaries.pinia';
import Pagination from '@Vue/page/cp/parts/Pagination';
import Search from '@Vue/page/cp/parts/searches/Dictionaries'
import DeleteItem from '@Vue/page/cp/parts/DeleteItem';
import '@Assets/styles/font.css';

export default {
    components: {
        Pagination,
        Search,
        DeleteItem
    },
    setup() {
        const store = useStore();
        return {
            store
        }
    },
    async beforeMount() {
        this.store.loadGroupName();
        this.store.loadDictionaries();
    }
}
</script>

<style lang="scss">

</style>
