<template>
    <table class="table" v-if="store.feedbacks">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Theme</th>
            <th scope="col">Message</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(feedback, index) in store.feedbacks" :key="index">
            <th scope="row">{{ index + 1 }}</th>
            <td>{{ feedback.id }}</td>
            <td>{{ feedback.firstName }}</td>
            <td>{{ feedback.email }}</td>
            <td>{{ feedback.phone }}</td>
            <td>{{ feedback.theme }}</td>
            <td>{{ feedback.message }}</td>
        </tr>
        </tbody>
    </table>
</template>

<script>
import {useStore} from '@Vue/page/cp/feedbacks.pinia';

export default {
    setup() {
        const store = useStore();
        return {
            store
        }
    },
    async beforeMount() {
        this.store.loadFeedbacks();
    }
}
</script>

<style scoped>

</style>