<template>
    <table class="table" v-if="store.meta">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Key</th>
            <th scope="col">Title</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item, index) in store.meta" :key="index">
            <th scope="row">{{ index + 1 }}</th>
            <td>{{ item.key}}</td>
            <td>{{ item.title }}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" :href="item.editCpUrl()">Edit</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</template>

<script>
import {useStore} from '@Vue/page/cp/meta.pinia';

export default {
    setup() {
        const store = useStore();
        return {
            store
        }
    },
    async beforeMount() {
        this.store.loadMeta();
    }
}
</script>

<style scoped>

</style>