<template>
    <table class="table" v-if="store.music">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">title</th>
            <th scope="col">link</th>
            <th scope="col">Published At</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item, index) in store.music" :key="index">
            <th scope="row">{{ index + 1 }}</th>
            <td>{{ item.id }}</td>
            <td>{{ item.title}}</td>
            <td>{{ item.link }}</td>
            <td>{{ item.publishedAt }}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" :href="item.editCpUrl()">Edit</a></li>
                        <DeleteItem :href="item.delete()"></DeleteItem>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</template>

<script>
import {useStore} from '@Vue/page/cp/music.pinia';
import Pinia from '@Vue/src/Services/pinia';
import DeleteItem from '@Vue/page/cp/parts/DeleteItem';


const pinia = Pinia.create();

export default {
    components: {
        DeleteItem
    },
    setup() {
        const store = useStore(pinia);
        return {
            store
        }
    },
    async beforeMount() {
        this.store.loadMusic();
    }
}
</script>

<style scoped>

</style>
