<template>
    <div id="page-pages" class="row">
        <div class="col-3 tree">
            <ul>
                <PageItem v-for="(page, index) in store.pages" :key="index" :page="page"></PageItem>
                <li><a href="#" @click.prevent="create">Create Page</a></li>
            </ul>
        </div>
        <div class="col-9">
            <FormPage></FormPage>
        </div>
    </div>
</template>

<script>
import {useStore} from '@Vue/page/cp/pages.pinia';
import Pinia from '@Vue/src/Services/pinia';
import FormPage from '@Vue/form/cp/Page';
import PageItem from '@Vue/page/cp/parts/PageItem';
import {useStore as usePageFormStore} from '@Vue/form/cp/page.pinia';
import RouteCpService from '@Js/services/RouteCpService';
const pinia = Pinia.create();

export default {
    components: {
        FormPage,
        PageItem
    },
    setup() {
        const store = useStore(pinia);
        const pageFormStore = usePageFormStore(pinia);
        return {
            store,
            pageFormStore
        }
    },
    methods: {
        create() {
            this.pageFormStore.url = new RouteCpService().generatePageCreate();
            this.pageFormStore.parent.value =  '';
            this.pageFormStore.title.value = '';
            this.pageFormStore.content.value = '';
            this.pageFormStore.publish.value = false;
            this.pageFormStore.metaTitle.value = '';
            this.pageFormStore.metaDescription.value = '';
        }
    },
    async beforeMount() {
        this.store.load();
    },
}
</script>

<style lang="scss">
#page-pages {
    .tree {
        ul {
            list-style: none;
        }
        .icon {
            padding-left: 3px;
        }
    }
}
</style>
