<template>
    <table class="table" v-if="store.precepts">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            <tr v-for="(precept, index) in store.precepts" :key="index">
                <th scope="row">{{ index + 1 }}</th>
                <td>{{ precept.id }}</td>
                <td>{{ precept.name }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Action
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li>
                                <a class="dropdown-item" :href="url(precept.id)">Edit</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
import {useStore} from '@Vue/page/cp/precepts.pinia';
import RouteFrontCpService from '@Js/services/RouteFrontCpService';

export default {
    setup() {
        const store = useStore();
        return {
            store
        }
    },
    methods: {
        url(id) {
            return new RouteFrontCpService().generatePreceptEdit(id);
        }
    },
    async beforeMount() {
        this.store.loadPrecepts();
    }
}
</script>

<style scoped>

</style>
