<template>
    <div id="schedule-month-container">
        <div class="schedule-header mb-3">

            <div class="d-flex">
                <div class="me-auto">
                    <button @click.prevent="switchToday" type="button" class="btn btn-outline-secondary">
                        Today
                    </button>
                    <button @click.prevent="prev" type="button" class="btn btn-outline-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left" viewBox="0 0 16 16">
                            <path d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
                        </svg>
                    </button>
                    <button @click.prevent="next" type="button" class="btn btn-outline-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
                            <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
                        </svg>
                    </button>
                    <button type="button" class="btn text-capitalize">
                        {{store.currentDateAsString}}
                    </button>
                </div>
                <div>
                    <a :href="routeFrontCp().generateScheduleMonth()" type="button" class="btn btn-outline-secondary active">
                        Month
                    </a>
                    <a :href="routeFrontCp().generateScheduleWeek()" type="button" class="btn btn-outline-secondary">
                        Week
                    </a>
                </div>
            </div>
        </div>
        <div class="schedule-content">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th  class="schedule-col">
                            <span>Mon</span>
                        </th>
                        <th class="schedule-col">
                            <span>Tue</span>
                        </th>
                        <th class="schedule-col">
                            <span>Wed</span>
                        </th>
                        <th class="schedule-col">
                            <span>Thu</span>
                        </th>
                        <th class="schedule-col">
                            <span>Fri</span>
                        </th>
                        <th class="schedule-col">
                            <span>Sat</span>
                        </th>
                        <th class="schedule-col">
                            <span>Sun</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="i in store.weeksInMonth" :key="i">
                        <td
                            class="p-0"
                            v-for="n in getCountPeriods(i)"
                            :key="n"
                            :data-date-start="getStart(i, n).format('YYYY-MM-DD HH:mm:ss')"
                            :data-date-end="getEnd(i, n).format('YYYY-MM-DD HH:mm:ss')"
                            :data-duraiton="getDuration(i, n)"
                            :colspan="getDays(i, n)"
                        >
                            <table
                                v-if="getDuration(i, n) === 1"
                                class="table table-borderless"
                                :data-date-start="getStart(i, n).format('YYYY-MM-DD HH:mm:ss')"
                            >
                                <thead>
                                <tr>
                                    <td class="text-end">
                                        <span v-if="getStart(i, n).format('YYYY-MM-DD') === today().format('YYYY-MM-DD')" class="badge bg-primary text-bg-primary rounded-pill">{{getStart(i, n).format('DD')}}</span>
                                        <span v-else class="badge border-secondary text-secondary rounded-pill">{{getStart(i, n).format('DD')}}</span>
                                    </td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(event, index) in getEvents(i, n)" :key="index">
                                    <td class="p-0" :data-datetime="event.startDateTime" :data-id="event.id">
                                        <div class="schedule-event border border-1 rounded bg-danger bg-gradient">
                                            {{getMoment(event.startDateTime).format('HH:mm')}} - {{event.summary}}
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table v-else class="table">
                                <thead>
                                <tr>
                                    <td
                                        :class="'text-end ' + 'day-col-' + getDays(i, n)"
                                        v-for="(j, index) in getDays(i, n)"
                                        :data-date-start="getStart(i, n).add(j - 1, 'days').format('YYYY-MM-DD HH:mm:ss')"
                                        :key="index"
                                        class="text-end"
                                    >
                                        <span v-if="getStart(i, n).add(j - 1, 'days').format('YYYY-MM-DD') === today().format('YYYY-MM-DD')" class="badge bg-primary text-bg-primary rounded-pill">{{getStart(i, n).add(j - 1, 'days').format('DD')}}</span>
                                        <span v-else class="badge border-secondary text-secondary rounded-pill">{{getStart(i, n).add(j - 1, 'days').format('DD')}}</span>
                                    </td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(event, index) in getEvents(i, n)" :key="index">
                                    <td
                                        v-for="(row, index) in getCell(getStart(i, n), getDays(i, n), event)"
                                        class="p-0"
                                        :colspan="row.colspan"
                                        :key="index"
                                    >
                                        <div
                                            v-if="row.empty === false"
                                            class="schedule-event border border-1 rounded bg-danger bg-gradient"
                                            :data-date-start="row.event.startDateTime"
                                            :data-date-end="row.event.endDateTime"
                                            :data-id="row.event.id"
                                        >
                                            <span>{{getMoment(row.event.startDateTime).format('HH:mm')}} - {{row.event.summary}}</span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import moment from 'moment';
import {useStore} from '@Vue/page/cp/schedule.month.pinia';
import {MomentService} from '@Js/services/MomentService';

export default {
    setup() {
        const store = useStore();
        store.load();
        return {
            store,
        }
    },
    methods: {
        prev() {
            this.store.currentDate = this.store.currentDate.subtract(1, 'M');
            this.store.currentDateAsString = this.store.currentDate.format('MMMM YYYY');
            this.store.load();
        },
        next() {
            this.store.currentDate = this.store.currentDate.add(1, 'M');
            this.store.currentDateAsString = this.store.currentDate.format('MMMM YYYY');
            this.store.load();
        },
        switchToday() {
            this.store.currentDate = moment();
            this.store.currentDateAsString = this.store.currentDate.format('MMMM YYYY');
            this.store.load();
        },
        today() {
            return moment();
        },
        getRow(i) {
            return this.store.rows[i-1];
        },
        getCountPeriods(i) {
            return this.getRow(i).countPeriods
        },
        getPeriod(i, n) {
            return this.getRow(i).periods[n-1];
        },
        getStart(i, n) {
            return MomentService.createMoment(this.getPeriod(i, n).startAsString)
        },
        getEnd(i, n) {
            return MomentService.createMoment(this.getPeriod(i, n).endAsString)
        },
        getDuration(i, n) {
            return this.getPeriod(i, n).duration;
        },
        getDurationToEndWeek(i, n) {
            return this.getPeriod(i, n).durationToEndWeek;
        },
        getDays(i, n) {
            return this.getDuration(i, n) > this.getDurationToEndWeek(i, n) ? this.getDurationToEndWeek(i, n) : this.getDuration(i, n);
        },
        getEvents(i, n) {
            return this.getPeriod(i, n).events;
        },
        getMoment(datetime) {
            return MomentService.createMoment(datetime);
        },
        getCell(start, days, event) {
            let eventStart = MomentService.createMoment(event.startDateTime).hours(0).minute(0).second(0);
            let eventEnd = MomentService.createMoment(event.endDateTime).hours(23).minute(59).second(59);
            let result = [];
            let cell = undefined;
            for (let i = 0; i < days; i++) {
                let dateStartDay = start.clone().add(i, 'days').hours(0).minute(0).second(0);

                if (dateStartDay.isSameOrAfter(eventStart) && dateStartDay.isSameOrBefore(eventEnd)) {
                    cell = {
                        empty: false,
                        event: event,
                        colspan: 1,
                    }
                    result.push(cell)
                    for (i; i < days; i++) {
                        let dateEndDay = start.clone().add(i, 'days').hours(23).minute(59).second(59);
                        if (dateEndDay.isSame(eventEnd)) {
                            break;
                        } else {
                            cell.colspan++;
                        }
                    }
                } else {
                    result.push( {
                        empty: true,
                        colspan: 1,
                    });
                }
            }
            return result;
        }
    },
}
</script>

<style lang="scss">
#schedule-month-container {
    .schedule-content {
        $schedule-width-day: 14.2%;
        .schedule-col {
            width: $schedule-width-day;
        }

        @for $i from 1 through 7 {
            .day-col-#{$i} {
                width: calc(100% / $i);
            }
        }
    }
}

</style>
