<template>
    <div id="schedule-week-container">
        <div class="schedule-header mb-3">

            <div class="d-flex">
                <div class="me-auto">
                    <button @click.prevent="switchToday" type="button" class="btn btn-outline-secondary">
                        Today
                    </button>
                    <button @click.prevent="prev" type="button" class="btn btn-outline-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left" viewBox="0 0 16 16">
                            <path d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
                        </svg>
                    </button>
                    <button @click.prevent="next" type="button" class="btn btn-outline-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
                            <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
                        </svg>
                    </button>
                    <button type="button" class="btn text-capitalize">
                        {{store.currentDateAsString}}
                    </button>
                </div>
                <div>
                    <a :href="routeFrontCp().generateScheduleMonth()" type="button" class="btn btn-outline-secondary">
                        Month
                    </a>
                    <a :href="routeFrontCp().generateScheduleWeek()" type="button" class="btn btn-outline-secondary active">
                        Week
                    </a>
                </div>
            </div>
        </div>
        <div class="schedule-content">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th  class="schedule-col">

                    </th>
                    <th
                        v-for="(period, index) in store.days.periods" :key="index"
                        class="schedule-col"
                    >
                        <div class=" d-flex">
                            <span class="me-auto">{{getStart(period).format('ddd')}}</span>
                            <span v-if="getStart(period).format('YYYY-MM-DD') === today().format('YYYY-MM-DD')" class="badge bg-primary text-bg-primary rounded-pill">{{getStart(period).format('DD')}}</span>
                            <span v-else class="badge border-secondary text-secondary rounded-pill">{{getStart(period).format('D')}}</span>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-if="store.week" style="min-height: 50px">
                    <td></td>
                    <td
                        v-for="(period, index) in getPeriods()"
                        :key="index"
                        :colspan="getDays(period)"
                    >
                        <table>
                            <tbody>
                                <tr v-for="(event, index) in period.events" :key="index">
                                    <td
                                        v-for="(row, index) in getCell(getStart(period), getDays(period), event)"
                                        :class="'p-0 ' + 'day-col-' + getDays(period)"
                                        :colspan="row.colspan"
                                        :key="index"
                                    >
                                        <div
                                            v-if="row.empty === false"
                                            class="schedule-event border border-1 rounded bg-danger bg-gradient"
                                            :data-date-start="row.event.startDateTime"
                                            :data-date-end="row.event.endDateTime"
                                            :data-id="row.event.id"
                                        >
                                            <span>{{getMoment(row.event.startDateTime).format('HH:mm')}} - {{row.event.summary}}</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr v-for="n in 23" :key="n">
                    <td>{{ n }}:00</td>
                    <td v-for="(period, index) in store.days.periods" :key="index">
                        <div
                            v-for="(event, index) in getEventList(period.events, n)"
                            :key="index"
                            :data-date-start="event.startDateTime"
                            :data-date-end="event.endDateTime"
                            :data-id="event.id"
                        >
                            <span>{{getMoment(event.startDateTime).format('HH:mm')}} - {{event.summary}}</span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script>
    import {useStore} from '@Vue/page/cp/schedule.week.pinia';
    import moment from 'moment';
    import {MomentService} from '@Js/services/MomentService';
    export default {
        setup() {
            const store = useStore();
            store.load();
            return {
                store,
            }
        },
        methods: {
            prev() {
                this.store.currentDate = this.store.currentDate.subtract(1, 'w');
                this.store.currentDateAsString = this.store.currentDate.format('MMMM YYYY');
                this.store.load();
            },
            next() {
                this.store.currentDate = this.store.currentDate.add(1, 'w');
                this.store.currentDateAsString = this.store.currentDate.format('MMMM YYYY');
                this.store.load();
            },
            today() {
                return moment();
            },
            switchToday() {
                this.store.currentDate = moment();
                this.store.currentDateAsString = this.store.currentDate.format('MMMM YYYY');
                this.store.load();
            },
            getPeriods() {
                return this.store.week.periods;
            },
            getMoment(datetime) {
                return MomentService.createMoment(datetime);
            },
            getDays(period) {
                if (period.duration > period.durationToEndWeek) {
                    return period.durationToEndWeek;
                }
                return period.duration;
            },
            getStart(period) {
                return MomentService.createMoment(period.startAsString)
            },
            getCell(start, days, event) {
                let eventStart = MomentService.createMoment(event.startDateTime).hours(0).minute(0).second(0);
                let eventEnd = MomentService.createMoment(event.endDateTime).hours(23).minute(59).second(59);
                let result = [];
                let cell = undefined;
                for (let i = 0; i < days; i++) {
                    let dateStartDay = start.clone().add(i, 'days').hours(0).minute(0).second(0);

                    if (dateStartDay.isSameOrAfter(eventStart) && dateStartDay.isSameOrBefore(eventEnd)) {
                        cell = {
                            empty: false,
                            event: event,
                            colspan: 1,
                        }
                        result.push(cell)
                        for (i; i < days; i++) {
                            let dateEndDay = start.clone().add(i, 'days').hours(23).minute(59).second(59);
                            if (dateEndDay.isSame(eventEnd)) {
                                break;
                            } else {
                                cell.colspan++;
                            }
                        }
                    } else {
                        result.push( {
                            empty: true,
                            colspan: 1,
                        });
                    }
                }
                return result;
            },
            getEventList(events, hour) {
                let rows = [];
                for (let i = 0; i < events.length; i++) {
                    let eventStart = MomentService.createMoment(events[i].startDateTime);
                    if (eventStart.format('h') == hour) {
                        rows.push(events[i])
                    }
                }
                return rows;
            }
        }
    }
</script>
<style  lang="scss">
#schedule-week-container {
    .schedule-content {
        $schedule-width-day: 12.5%;
        .schedule-col {
            width: $schedule-width-day;
        }
        @for $i from 1 through 7 {
            .day-col-#{$i} {
                width: calc(100% / $i);
            }
        }
    }
}
</style>
