<template>
    <table class="table" v-if="store.sins">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Precept</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(sin, index) in store.sins" :key="index">
            <th scope="row">{{ index + 1 }}</th>
            <td>{{ sin.id }}</td>
            <td>{{ sin.precept.id}}</td>
            <td>{{ sin.name }}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" :href="sin.cpUrlEdit()">Edit</a></li>
                        <DeleteItem :href="sin.delete()"></DeleteItem>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</template>

<script>
import {useStore} from '@Vue/page/cp/sins.pinia';
import DeleteItem from '@Vue/page/cp/parts/DeleteItem';

export default {
    components: {
        DeleteItem
    },
    setup() {
        const store = useStore();
        store.loadSins()
        return {
            store
        }
    },
}
</script>

<style scoped>

</style>
