<template>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Position</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody v-if="store.sins">
        <tr v-for="(sin, index) in store.sins" :key="index">
            <th scope="row">{{ index + 1 }}</th>
            <td>{{ sin.id }}</td>
            <td>{{ sin.name }}</td>
            <td>{{ sin.position }}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" :href="sin.cpUrlEdit()">Edit</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</template>

<script>
import {useStore} from '@Vue/page/cp/sins.pinia';
import {RequestService} from '@Vue/src/Services/RequestService';

export default {

    setup() {
        const store = useStore();
        let pattern = new RegExp('^/cp/precept/(?<preceptId>.+)/edit$');
        let match = RequestService.create().requestUri().match(pattern);
        let preceptId = undefined
        if (null !== match) {
            preceptId = match.groups.preceptId
        } else {
            preceptId = 41;
        }
        store.loadSinsByPrecept(preceptId)
        return {
            store
        }
    }
}
</script>

<style scoped>

</style>
