<template>
    <div v-if="ready" class="container-keyboard">
        <ul class="keyboard">
            <li class="letter">
                <span @click.prevent="print($event)" class="on" :data-code="code='CYRILLIC_TITLO'" :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="азь">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_A'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_A'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code) + '<sub>1</sub>'"></span>
            </li>
            <li class="letter" title="веди">
                <span @click.prevent="print($event)" :class="uppercase"  :data-code="code='CYRILLIC_CAPITAL_LETTER_VE'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase"  :data-code="code='CYRILLIC_SMALL_LETTER_VE'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code) + '<sub>2</sub>'"></span>
            </li>
            <li class="letter" title="глагол">
                <span @click.prevent="print($event)" :class="uppercase"  :data-code="code='CYRILLIC_CAPITAL_LETTER_GHE'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase"  :data-code="code='CYRILLIC_SMALL_LETTER_GHE'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code) + '<sub>3</sub>'"></span>
            </li>
            <li class="letter" title="добро">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_DE'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_DE'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code) + '<sub>4</sub>'"></span>
            </li>
            <li class="letter" title="есть">
                <span @click.prevent="print($event)" :class="uppercase"  :data-code="code='CYRILLIC_CAPITAL_LETTER_IE'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_UKRAINIAN_IE'"  :data-unicode="getUnicode(code)"  v-html="getUnicode(code) + '<sub>5</sub>'"></span>
            </li>
            <li class="letter" title="зело">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_DZE'"  :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_DZE'"  :data-unicode="getUnicode(code)"  v-html="getUnicode(code) + '<sub>6</sub>'"></span>
            </li>
            <li class="letter" title="земля">
                <span @click.prevent="print($event)" :class="uppercase"  :data-code="code='CYRILLIC_CAPITAL_LETTER_ZE'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase"  :data-code="code='CYRILLIC_SMALL_LETTER_ZE'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)+ '<sub>7</sub>'"></span>
            </li>
            <li class="letter" title="иже">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_I'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_I'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)+ '<sub>8</sub>'"></span>
            </li>
            <li class="letter" title="фита">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_FITA'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_FITA'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)+ '<sub>9</sub>'"></span>
            </li>
            <li class="letter" title="и десятиричное">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_BYELORUSSIAN_UKRAINIAN_I'" :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_BYELORUSSIAN_UKRAINIAN_I'" :data-unicode="getUnicode(code)" v-html="getUnicode(code)+ '<sub>10</sub>'"></span>
            </li>
            <li class="letter" title="како">
                <span @click.prevent="print($event)" :class="uppercase"  :data-code="code='CYRILLIC_CAPITAL_LETTER_KA'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase"  :data-code="code='CYRILLIC_SMALL_LETTER_KA'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" tabindex="тисяча">
                <span @click.prevent="print($event)" class="on" :data-code="code='CYRILLIC_THOUSANDS_SIGN'"   :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="люди">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_EL'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_EL'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
            </li>
            <li>
                <span @click.prevent="remove">del</span>
            </li>
            <!--  END FIRST-->
            <li @click.prevent="tab" class="tab">tab</li>
            <li class="letter" title="и десятиричное">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_YI'"  :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_YI'"  :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="цы">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_TSE'"  :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_TSE'"  :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="укь">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_UK'"  :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_UK'"  :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="укь">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_U'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_U'" :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="есть">
                <span @click.prevent="print($event)" class="on"  :data-code="code='CYRILLIC_SMALL_LETTER_IE'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="нашь">
                <span @click.prevent="print($event)" :class="uppercase"  :data-code="code='CYRILLIC_CAPITAL_LETTER_EN'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase"  :data-code="code='CYRILLIC_SMALL_LETTER_EN'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="ша">
                <span @click.prevent="print($event)" :class="uppercase"  :data-code="code='CYRILLIC_CAPITAL_LETTER_SHA'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase"  :data-code="code='CYRILLIC_SMALL_LETTER_SHA'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="шта">
                <span @click.prevent="print($event)" :class="uppercase"  :data-code="code='CYRILLIC_CAPITAL_LETTER_SHCHA'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase"  :data-code="code='CYRILLIC_SMALL_LETTER_SHCHA'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
            </li>

            <li class="letter" title="херь">
                <span @click.prevent="print($event)" :class="uppercase"  :data-code="code='CYRILLIC_CAPITAL_LETTER_HA'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase"  :data-code="code='CYRILLIC_SMALL_LETTER_HA'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="еръ">
                <span @click.prevent="print($event)" class="on"  :data-code="code='CYRILLIC_SMALL_LETTER_HARD_SIGN'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="оть">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_OT'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_OT'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="Над строчная буква рцы">
                <span @click.prevent="print($event)" class="on"  :data-code="code='COMBINING_CYRILLIC_LETTER_ER_AND_POKRYTIE'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="Над строчная буква глагол">
                <span @click.prevent="print($event)" class="on"  :data-code="code='COMBINING_CYRILLIC_LETTER_GHE_AND_POKRYTIE'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
            </li>
            <!-- END TWO -->
            <li class="capslock" @click.prevent="toggleCase">caps lock</li>
            <li class="letter" title="фита">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_EF'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_EF'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="еры">
                <span @click.prevent="print($event)" class="on" :data-code="code='CYRILLIC_SMALL_LETTER_YERU'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="укь">
                <span @click.prevent="print($event)" class="on" :data-code="code='CYRILLIC_SMALL_LETTER_MONOGRAPH_UK'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="покой">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_PE'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_PE'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="рцы">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_ER'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_ER'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="он">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_O'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_O'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
            </li>

            <li class="letter" title="живите">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_ZHE'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_ZHE'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="омега">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_OMEGA'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_OMEGA'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="На строчное буква добро">
                <span @click.prevent="print($event)" class="on" :data-code="code='COMBINING_CYRILLIC_DE'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="На строчное буква слово">
                <span @click.prevent="print($event)" class="on" :data-code="code='COMBINING_CYRILLIC_LETTER_ES_AND_POKRYTIE'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="На строчное буква он">
                <span @click.prevent="print($event)" class="on" :data-code="code='COMBINING_CYRILLIC_LETTER_O_AND_POKRYTIE'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="Дуга">
                <span @click.prevent="print($event)" class="on" :data-code="code='COMBINING_INVERTED_BREVE'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
            </li>
            <li>
                <span @click.prevent="carriageReturn">ret</span>
            </li>
            <!-- END THREE -->
            <li class="letter" title="я">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_IOTIFIED_A'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_IOTIFIED_A'" :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="юсь малый">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_YUS'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_YUS'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="червь">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_CHE'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_CHE'" :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="слово">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_ES'" :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_ES'" :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="мыслете">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_EM'" :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_EM'" :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
            </li>

            <li class="letter" title="твердо">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_TE'" :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_TE'" :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
            </li>

            <li class="letter" title="ерь">
                <span @click.prevent="print($event)" class="on" :data-code="code='CYRILLIC_SMALL_LETTER_SOFT_SIGN'" :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="ять">
                <span @click.prevent="print($event)" class="on"  :data-code="code='CYRILLIC_SMALL_LETTER_TSHE'" :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="ижица">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_IZHITSA'" :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_IZHITSA'" :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="кси">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_KSI'" :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_KSI'" :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="пси">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_PSI'" :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_PSI'" :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="Ерик">
                <span @click.prevent="print($event)" class="on" :data-code="code='COMBINING_VERTICAL_TILDE'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="Придыхание">
                <span @click.prevent="print($event)" class="on" :data-code="code='COMBINING_CYRILLIC_PSILI_PNEUMATA'" :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="Ударение острое">
                <span @click.prevent="print($event)" class="on" :data-code="code='COMBINING_ACUTE_ACCENT'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="Ударение тяжелое">
                <span @click.prevent="print($event)" class="on" :data-code="code='COMBINING_GRAVE_ACCENT'"  :data-unicode="getUnicode(code)" v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="буки">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_BE'" :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_BE'" :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="и краткая">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_SHORT_I'" :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_SHORT_I'" :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="ю">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_YU'" :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_YU'" :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
            </li>
            <li class="letter" title="он">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_CAPITAL_LETTER_ROUND_OMEGA'" :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_ROUND_OMEGA'" :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
            </li>
            <li class="space letter">&nbsp;</li>
            <li class="letter" title="ижица и двойное тяжелое ударение">
                <span @click.prevent="print($event)" :class="uppercase" :data-code="code='CYRILLIC_SMALL_LETTER_IZHITSA_AND_DOUBLE_GRAVE_ACCENT'" :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
                <span @click.prevent="print($event)" :class="lowercase" :data-code="code='CYRILLIC_SMALL_LETTER_IZHITSA_AND_DOUBLE_GRAVE_ACCENT'" :data-unicode="getUnicode(code)"  v-html="getUnicode(code)"></span>
            </li>
        </ul>
    </div>
</template>

<script>
import FactoryRequest from '@Vue/src/Services/Request';
import RouteCpService from '@Js/services/RouteCpService';
import '@Assets/styles/font.css';
import {Variable} from '@Vue/component/Form/Variable.pinia';

export default {
    props: {
        input: {
            type: Object,
            require: true,
            default: new Variable(''),
        }
    },
    data() {
        return {
            text: this.input,
            capsLock: false,
            ready: false,
            symbols: [],
            raw: [],
            lowercase: {
                'on': true
            },
            uppercase: {
                'on': false
            }
        }
    },
    created() {
        this.load();
    },
    methods: {
        print(event) {
            let code = this.decode(this.getUnicode(event.target.dataset.code));
            this.text.value += code;
        },
        remove() {
            this.text.value = this.text.value.replace(/.$/, '');
        },
        tab() {
            this.text.value += '    ';
        },
        carriageReturn() {
            this.text.value += '\r\n';
        },
        decode : function(str) {
            return str.replace(/&#(\d+);/g, function(match, dec) {
                return String.fromCharCode(dec);
            });
        },
        async load() {
            let request = FactoryRequest.create(new RouteCpService().generateSymbols())
            this.raw = await fetch(request)
                .then(function (res) {
                    return res.json();
                })
            let symbols = [];
            this.raw.forEach(function (element) {
                symbols[element.symbolCode] = element.unicode
            });
            this.symbols = symbols;
            this.ready = true;
        },
        toggleCase() {
            if (this.capsLock) {
                this.lowercase.on = true;
                this.uppercase.on = false;
                this.capsLock = false;
            } else {
                this.lowercase.on = false;
                this.uppercase.on = true;
                this.capsLock = true;
            }
        },
        getUnicode(code) {
            return this.symbols[code];
        }
    }
}
</script>

<style lang="scss">
.container-keyboard {
    font-family: 'Ponomar Unicode', Sans-Serif;
    margin: 0 auto;
    padding: 5px 5px;
    width: 690px;
    border-radius: 5px;
    height: 230px;
    background: #eee;
    .keyboard {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            float: left;
            margin: 0 5px 5px 0;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background: #fff;
            border: 1px solid #f9f9f9;
            border-radius: 5px;
            &:hover {
                position: relative;
                top: 1px;
                left: 1px;
                border-color: #e5e5e5;
                cursor: pointer;
            }
        }
        sub {
            text-align: center;
            line-height: 40px;
        }
        .tab, .delete {
            width: 70px;
        }
        .capslock {
            width: 80px;
        }
        .return {
            width: 77px;
        }
        .space {
            width: 200px;
        }
    }
    .capslock, .tab {
        clear: left;
    }
    .letter {
        span {
            display: none;
        }
        .on {
            display: block;
        }
    }

}
</style>
