{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="description" content="{{ meta.description }}">
{% endblock %}

{% set title = 'Книги' %}
{% block title %}{% if meta.title is not empty %}{{ meta.title }}{% else %}{{ title|capitalize }}{% endif %}{% endblock %}

{% block content %}
    <section class="container">
        <h1 class="text-center">{{ title }}</h1>
        <div id="vue-books"></div>
    </section>
{% endblock %}

{% block javascripts_bottom %}
    {{ encore_entry_script_tags('vue.books') }}
{% endblock %}