{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="description" content="{{ book.meta.description }}">
{% endblock %}

{% block content %}
    <section class="container">
        <div id="vue-book"></div>
    </section>
{% endblock %}

{% block javascripts_bottom %}
    {{ encore_entry_script_tags('vue.book') }}
{% endblock %}