<template>
    <form @submit.prevent="onSearch" @change.prevent="onSearch">
        <div class="row mb-3">
            <div class="col-1 form-check form-switch pt-1">
                <input v-model="store.params.search.have_titlo" type="checkbox" class="form-check-input" id="is_titlo">
                <label class="form-check-label" for="is_titlo">Is titlo</label>
            </div>
            <div class="col-4 row">
                <label for="input-description" class="col-3 col-form-label">Description</label>
                <div class="col-8">
                    <input v-model="store.params.search.description" type="text" id="input-description" class="form-control" placeholder="description">
                </div>
            </div>
            <div class="col-4 row">
                <label for="input-group" class="col-3 col-form-label">Group</label>
                <div class="col-9">
                    <select id="input-group" v-model="store.params.search.group" class="form-select slavonic">
                        <option value=""></option>
                        <option v-for="option in store.groupNames" :key="option" :value="option">{{option}}</option>
                    </select>
                </div>
            </div>
            <div v-if="havePaginator" class="col-2 offset-1 order-last row">
                <label for="input-show-by" class="col-5 col-form-label">Show: by</label>
                <div class="col-7">
                    <select id="input-show-by" v-model="store.params.limit" class="form-select">
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">

            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</template>

<script>
import {PaginatorService} from '@Vue/src/Services/PaginatorService';
import {useStore} from '@Vue/page/cp/dictionaries.pinia';

export default {
    setup() {
        const store = useStore();
        store.loadGroupName();
        return {
            store
        }
    },
    methods: {
        onSearch() {
            this.store.loadDictionaries();
        },
    },
    computed: {
        havePaginator() {
            return this.store.paginator instanceof PaginatorService;
        },
    }
}
</script>
<style lang="scss">
</style>
