{% extends 'base.html.twig' %}

{% set title = 'Видео' %}

{% block content %}
    <section class="container">
        <h1 class="text-center">{{ title }}</h1>
        <div class="border">
            {% for item in video %}
                <iframe width="560" height="315" src="https://www.youtube.com/embed/KY55qKblrNg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% endfor %}
        </div>
    </section>
{% endblock %}