@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Caveat');
* {
    font-family: 'Lobster', serif;
}
.text-first-capitalize:first-letter {
    text-transform: capitalize !important;
}
/** BEGIN  FLASH MESSAGE */
.toast-bottom-right {
    bottom: 80px;
}
/** END FLASH MESSAGE */
