@font-face {
    font-family: 'Hirmos ieUcs';
    src: url('@Assets/fonts/HirmIEUcs8.ttf');
}
/* https://ponomar.net */
@font-face {
    font-family: 'Ponomar Unicode';
    src: url('@Assets/fonts/PonomarUnicode.eot');
    src: url('@Assets/fonts/PonomarUnicode.eot?#iefix') format('embedded-opentype'),
    url('@Assets/fonts/PonomarUnicode.woff2') format('woff2'),
    url('@Assets/fonts/PonomarUnicode.woff') format('woff'),
    url('@Assets/fonts/PonomarUnicode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.slavonic {
    font-family: 'Ponomar Unicode';
}
.slavonic-font-Ponomar-Unicode {
    font-family: 'Ponomar Unicode';
}
.church_slavonic_font {
    font-family: 'Hirmos ieUcs';
}
