{% extends 'cp/base.html.twig' %}

{% block content %}
    <div class="container">
        {{ flash_widget() }}
        <p class="mt-2">
            <a href="{{ path('cp.dictionary.create') }}" class="btn-danger btn">Create</a>
        </p>
        <div id="vue-cp-dictionaries"></div>
        <div>
            <p>Список литературы</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="https://www.ozon.ru/product/bukvitsa-slavyanskaya-154354204/?sh=H3Hg8XVY_w">Буквица славянская (isbn: )
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('vue.cp.dictionaries') }}
{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}
    {{ encore_entry_script_tags('vue.cp.dictionaries') }}
{% endblock %}
