{% if paginatorService.havePagination() %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if (paginatorService.page > 1) %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('cp.dictionaries', app.request.query.all|merge({page: paginatorService.page - 1, limit: paginatorService.limit}))  }}">
                        Previous
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
            {% endif %}
            {% for page in 5..1 %}
                {% if (paginatorService.page - page < paginatorService.page) and paginatorService.page - page >= 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('cp.dictionaries', app.request.query.all|merge({page: paginatorService.page - page, limit: paginatorService.limit}))  }}">
                            {{ paginatorService.page - page }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
            <li class="page-item disabled">
                <a class="page-link">
                    {{ paginatorService.page }}
                </a>
            </li>
            {% for page in 1..5 %}
                {% if paginatorService.page + page <= paginatorService.maxPage %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('cp.dictionaries', app.request.query.all|merge({page: paginatorService.page + page, limit: paginatorService.limit}))  }}">
                            {{ paginatorService.page + page }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if (paginatorService.maxPage == paginatorService.page) %}
                <li class="page-item disabled">
                    <a class="page-link">Next</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('cp.dictionaries', app.request.query.all|merge({page: paginatorService.page + 1, limit: paginatorService.limit}))  }}">
                        Next
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}