<script>
import FormInput from '@Vue/component/Form/Input';
import FormFile from '@Vue/component/Form/File';
import FormInputGroup from '@Vue/component/Form/InputGroup';
import FormButton from '@Vue/component/Form/Button';
import FormTextarea from '@Vue/component/Form/Textarea';
import FormSelect from '@Vue/component/Form/Select';
import FormCheckbox from '@Vue/component/Form/Checkbox';
import BeforeSaveEvent from '@Vue/src/Events/BeforeSaveEvent';
import {v4 as uuidv4} from 'uuid';
import lodash from 'lodash';

export default {
    components: {
        FormInput,
        FormButton,
        FormTextarea,
        FormSelect,
        FormCheckbox,
        FormInputGroup,
        FormFile
    },
    methods: {
        getUuid() {
            if (lodash.isNil(this.$options._uuid)) {
                this.$options._uuid = uuidv4();
            }
            return this.$options._uuid;
        },
        async beforeSave() {

        },
        async afterSave() {

        },
        async onSubmit() {
            await this.beforeSave();
            let event = new BeforeSaveEvent(this);
            document.dispatchEvent(event);
            let response = await this.store.save(this.action());
            this.afterSave(response)
        }
    },
};
</script>

<style lang="scss">
form .required:after {
    content: "*";
    color: red;
    font-family: monospace;
}
</style>
