<template>
    <div>
        <button :class="classes" type="submit">{{text}}</button>
    </div>
</template>

<script>
let component = {
    props: {
        buttonClasses: {
            type: String,
            default: 'btn-outline-primary'
        },
        text: {
            type: String,
            default: '',
            require: true
        }
    },
    computed: {
        classes() {
            let classes = {
                'btn': true,
            };
            if (this.buttonClasses) {
                classes[this.buttonClasses] = true
            }
            return classes;
        }
    },
    watch: {},
}

export default component;
</script>