<template>
    <fieldset v-bind:disabled="disabled" class="form-check form-switch">
        <input
            class="form-check-input"
            type="checkbox" :id="ids"
            v-model="input.value"
        >
        <label class="form-check-label" :for="ids">
            {{label}}
        </label>
    </fieldset>
</template>

<script>
import {checkbox as props} from '@Vue/component/Form/props';
import {textareaComputed as computed} from '@Vue/component/Form/functions';
let component = {
    props: {},
    computed: {},
    watch: {},
}
Object.assign(component.props, props);
Object.assign(component.computed, computed);
export default component;
</script>
