<template>
    <fieldset>
        <label v-if="label" :for="ids" :class="labelClasses">{{ label }}</label>
        <ckeditor :class="classes" :editor="editor" v-model="input.value" :config="editorConfig"></ckeditor>
        <div v-if="help" class="form-text">{{ help }}</div>
        <div v-if="input.invalidFeedback" class="invalid-feedback">{{ input.invalidFeedback }}</div>
        <div v-if="validFeedback" class="valid-feedback">{{ validFeedback }}</div>
    </fieldset>
</template>


<script>
import CKEditor from '@ckeditor/ckeditor5-vue';
import ClassicEditor from '../../../ckeditor/ckeditor';
import {ckeditor as props} from '@Vue/component/Form/props';
import {ckeditorComputed as computed} from '@Vue/component/Form/functions';

let component = {
    components: {
        ckeditor: CKEditor.component
    },
    data() {
        return {
            editor: ClassicEditor,
            editorConfig: {
                fontFamily: {
                    options: [
                        'default',
                        'Hirmos ieUcs',
                        'Ponomar Unicode'
                    ]
                },
                toolbar: [
                    'Heading',
                    '|',
                    'bold',
                    'italic',
                    'link',
                    'bulletedList',
                    'numberedList',
                    'underline',
                    'strikethrough',
                    'alignment',
                    'blockQuote',
                    'subscript',
                    'superscript',
                    'horizontalLine',
                    '|',
                    'outdent',
                    'indent',
                    '|',
                    'fontSize',
                    'fontFamily',
                    'fontColor',
                    'fontBackgroundColor',
                    '|',
                    'undo',
                    'redo',
                    'removeFormat',
                    '|',
                    'sourceEditing',
                    '|',
                    'insertTable'
                ],
                table: {
                    contentToolbar: [
                        'tableColumn',
                        'tableRow',
                        'mergeTableCells' ,
                        'tableProperties',
                        'tableCellProperties',
                        'toggleTableCaption'
                    ],
                }
            }
        };
    },
    props: {},
    computed: {},
    watch: {},
}
Object.assign(component.props, props);
Object.assign(component.computed, computed);
export default component;
</script>

<style>
@font-face {
    font-family: 'Hirmos ieUcs';
    src: url('@Assets/fonts/HirmIEUcs8.ttf');
}
.ck-content {
    min-height: 300px;
}
</style>
