<template>
    <fieldset v-bind:disabled="disabled">
        <label v-if="label" :for="ids" :class="labelClasses">{{ label }}</label>
        <input ref="file" :class="classes" type="file" :id="ids" @change="selectFile">
        <div v-if="help" class="form-text">{{ help }}</div>
        <div v-if="input.invalidFeedback" class="invalid-feedback">{{ input.invalidFeedback }}</div>
        <div v-if="validFeedback" class="valid-feedback">{{ validFeedback }}</div>
    </fieldset>
</template>

<script>
import {file as props} from '@Vue/component/Form/props';
import {fileComputed as computed} from '@Vue/component/Form/functions';
import Image from '@Vue/src/Entities/Image'

let component = {
    data() {
        return {
            files: []
        }
    },
    props: {},
    computed: {},
    watch: {},
    methods: {
        selectFile() {
            let $this = this;
            this.files = this.$refs.file.files;
            for (let i = 0; i < this.files.length; i++) {
                let formData = new FormData();
                formData.append('image', this.files[i]);
                let headers = new Headers();
                //headers.append('Content-Type', 'multipart/form-data');
                headers.append('Accept', 'application/json');
                let request = new Request(this.action, {
                    method: 'post',
                    headers: headers,
                    body: formData,
                });
                fetch(request).then(async function (res) {
                    let json = await res.json();
                    if (res.status === 200) {
                        if (json.success) {
                            $this.input.value = new Image(json.data);
                        }
                    }
                });
            }
        }
    }
}
Object.assign(component.props, props);
Object.assign(component.computed, computed);
export default component;
</script>
