<template>
    <div>
        <fieldset v-bind:disabled="disabled">
            <div class="input-group">
                <span v-if="left" :class="leftClasses">{{left}}</span>
                <input
                    :type="type"
                    :class="classes"
                    :placeholder="placeholder"
                    v-model="input.value"
                >
                <span v-if="right" class="input-group-text">{{right}}</span>
                <div v-if="input.invalidFeedback" class="invalid-feedback">{{ input.invalidFeedback }}</div>
                <div v-if="validFeedback" class="valid-feedback">{{ validFeedback }}</div>
            </div>
            <div v-if="help" class="form-text">{{ help }}</div>
        </fieldset>
    </div>
</template>

<script>
import {inputGroup as props} from '@Vue/component/Form/props';
import {inputGroupComputed as computed} from '@Vue/component/Form/functions';

let component = {
    props: {},
    computed: {},
    watch: {},
}
Object.assign(component.props, props);
Object.assign(component.computed, computed);
export default component;

</script>
