<template>
    <fieldset v-bind:disabled="disabled">
        <label v-if="label" :for="ids" :class="labelClasses">{{ label }}</label>
        <input
            :class="classes"
            :id="ids"
            :list="idsDataList"
            :type="type"
            v-model="input.value"
        >
        <datalist v-if="dataList.length" :id="idsDataList">
            <option v-for="(item, index) in dataList" :value="item" :key="index"/>
        </datalist>
        <div v-if="help" class="form-text">{{ help }}</div>
        <div v-if="input.invalidFeedback" class="invalid-feedback">{{ input.invalidFeedback }}</div>
        <div v-if="validFeedback" class="valid-feedback">{{ validFeedback }}</div>
    </fieldset>
</template>

<script>
import {input as props} from '@Vue/component/Form/props';
import {inputComputed as computed} from '@Vue/component/Form/functions';

let component = {
    props: {},
    computed: {},
    watch: {},
}
Object.assign(component.props, props);
Object.assign(component.computed, computed);
export default component;
</script>
