<template>
    <fieldset v-bind:disabled="disabled">
        <label :for="ids" :class="labelClasses">{{label}}</label>
        <select
            v-model="input.value"
            :class="classes"
            :id="ids"
            :multiple="multiple"
        >
            <option v-for="(option, index) in input.options" v-bind:value="option.value" :key="index">{{option.text}}</option>
        </select>
        <div v-if="help" class="form-text">{{ help }}</div>
        <div v-if=" input.invalidFeedback" class="invalid-feedback">{{ input.invalidFeedback }}</div>
        <div v-if="validFeedback" class="valid-feedback">{{ validFeedback }}</div>
    </fieldset>
</template>

<script>
import {select as props} from '@Vue/component/Form/props';
import {selectComputed as computed} from '@Vue/component/Form/functions';

let component = {
    props: {},
    computed: {},
    watch: {}
}
Object.assign(component.props, props);
Object.assign(component.computed, computed);
export default component;
</script>
