<template>
    <div>
        <fieldset v-bind:disabled="disabled">
            <label v-if="label" :for="ids" :class="labelClasses">{{label}}</label>
            <textarea
                :class="classes"
                :id="ids"
                :rows="rows"
                v-model="input.value"
            ></textarea>
            <div v-if="help" class="form-text">{{ help }}</div>
            <div v-if="input.invalidFeedback" class="invalid-feedback">{{ input.invalidFeedback }}</div>
            <div v-if="validFeedback" class="valid-feedback">{{ validFeedback }}</div>
        </fieldset>
    </div>
</template>

<script>
import {textarea as props} from '@Vue/component/Form/props';
import {textareaComputed as computed} from '@Vue/component/Form/functions';

let component = {
    props: {
        input: {
            type: Object,
        }
    },
    computed: {},
    watch: {},
}
Object.assign(component.props, props);
Object.assign(component.computed, computed);
export default component;
</script>
