<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        {% block meta %}
        {% endblock %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script src="https://www.google.com/recaptcha/api.js?render=6Le_slocAAAAAFP7djOhkks-BFVZVALML-rYmCH1"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <meta name="yandex-verification" content="8150cc314f93dc51" />
    </head>
    <body class="pb-5">
        <main>
            {% block content %}{% endblock %}
        </main>
        {% include 'parts/_navbar-botton.html.twig' %}

        {% include('parts/_yandex-metrika.html.twig')  %}

        {% block javascripts_bottom %}
        {% endblock %}
    </body>
</html>
