<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title></title>
    {{ encore_entry_link_tags('main.pdf') }}
</head>
<body>
<main>
    <section class="container">
        <div class="row">

            <div class="col-12">
                <h1 class="text-center mb-4 mt-3">Десять заповедей христианства</h1>
                {% for precept in precepts %}
                    <div class="card mb-12 mb-3">
                        <div class="card-header h5">
                            <a href="{{ precept.link }}" rel="nofollow" class="link-dark text-decoration-none" target="_blank">{{ loop.index }}. {{ precept.name }}</a> - {{ precept.verse }}
                        </div>
                        <div class="card-body">
                            <p class="card-text">Грехи:
                                {% for sin in precept.sins %}
                                    {{ sin.name }}{% if not loop.last %},{% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
</body>
</html>
