{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="description" content="{{ meta.description }}">
{% endblock %}

{% set title = 'Десять заповедей христианства' %}

{% block title %}{% if meta.title is not empty %}{{ meta.title }}{% else %}{{ title }}{% endif %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('vue.main') }}
{% endblock %}

{% block content %}
    <section class="container">
        <div class="row">

            <div class="col-12">
                <h1 class="text-center mb-4 mt-3">{{ title }}</h1>
                {{ flash_widget() }}
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.attributes.get('_route') == 'main' ? 'active' : '' }}" href="{{ path('main') }}">Русский</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.attributes.get('_route') == 'main.church_slavonic' ? 'active' : '' }}" href="{{ path('main.church_slavonic') }}">Церковно-словянский</a>
                    </li>
                </ul>
                <div id="vue-main" class="mt-2"></div>
            </div>
        </div>
    </section>

    <div id="fixed-right">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="btn-group-vertical">
                    <button id="print-precept" type="button" class="btn btn-outline-secondary btn-sm">Распичатать</button>
                    <a href="{{ pdf_widget(path('main.pdf')) }}" class="btn btn-outline-secondary btn-sm">Скачать как PDF</a>
                    {#<button type="button" class="btn btn-outline-secondary btn-sm">Отправить на Email</button>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}
    {{ encore_entry_script_tags('vue.main') }}
{% endblock %}