<template>
    <form @submit.prevent="onSubmit">
        <div class="mb-3">
            <FormInputGroup
                left="Email"
                leftWidthClass="sm-2"
                v-bind:input="store.email"
                type="email"
                isRequired
            ></FormInputGroup>
        </div>
        <div class="mb-3">
            <FormInputGroup
                left="Телефон"
                leftWidthClass="sm-2"
                v-bind:input="store.phone"
            ></FormInputGroup>
        </div>
        <div class="mb-3">
            <FormInputGroup
                left="Имя"
                leftWidthClass="sm-2"
                isRequired
                v-bind:input="store.firstName"
            ></FormInputGroup>
        </div>
        <div class="mb-3">
            <FormInputGroup
                left="Тема"
                isRequired
                leftWidthClass="sm-2"
                v-bind:input="store.theme"
            ></FormInputGroup>
        </div>
        <div class="mb-3">
            <FormTextarea
                label="Сообщение"
                isRequired
                v-bind:input="store.message"
            ></FormTextarea>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <FormButton text="Сохранить" buttonClasses="btn-outline-secondary"></FormButton>
        </div>
    </form>
</template>

<script>
import BaseForm from '@Vue/component/Form/BaseForm';
import {useStore} from '@Vue/form/feedback.pinia';
import RouteService from '@Js/services/RouteService';
import Cookie from 'js-cookie';
import KeyService from '@Js/services/KeyService';

export default {
    setup() {
        let store = useStore();
        return {
            store
        }
    },
    extends: BaseForm,
    methods: {
        async beforeSave() {
            if (Cookie.get(KeyService.captchaSiteKey) !== undefined) {
                this.store['g-recaptcha-response'] = await grecaptcha.execute(Cookie.get(KeyService.captchaSiteKey), {action: 'submit'});
            }
        },
        action() {
            console.log(new RouteService().generateFeedbackMutation());
            return new RouteService().generateFeedbackMutation();
        },
    }
}
</script>
