{% extends 'cp/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('vue.cp.form.book') }}
{% endblock %}

{% block content %}
    <div class="container mt-2">
        {{ flash_widget() }}
        <p><a href="{{ path('book', {'id': bookId}) }}" target="_blank">Link</a></p>
        <div id="vue-cp-form-book"></div>
    </div>
{% endblock %}


{% block javascripts_bottom %}
    {{ encore_entry_script_tags('vue.cp.form.book') }}
{% endblock %}
