{% extends 'cp/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('vue.cp.form.precept') }}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ precept.name }}</h1>
        <p class="h1 slavonic">{{ precept.nameSlavonic }}</p>
        {{ flash_widget() }}
        <div id="vue-cp-form-precept"></div>

        <p>
            <a href="{{ path('cp.sin.create', {'preceptId': precept.id}) }}" class="btn btn-danger">Create Sin</a>
        </p>
        <div id="vue-cp-sins-by-precept"></div>
    </div>
{% endblock %}

{% block javascripts_bottom %}
    {{ encore_entry_script_tags('vue.cp.form.precept') }}
{% endblock %}
