{% extends 'cp/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('vue.cp.precept') }}
{% endblock %}

{% block content %}
    <div class="container">
        <div id="vue-cp-precepts"></div>
    </div>
{% endblock %}

{% block javascripts_bottom %}
    {{ encore_entry_script_tags('vue.cp.precepts') }}
{% endblock %}
