<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {{ get_active_widget('main') }}" aria-current="page" href="{{ path('main') }}" >Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ get_active_widget('feedback-mutation') }}" aria-current="page" href="#" {{ feedback_trigger_widget() }}>Написать нам</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ get_active_widget('books') }}" aria-current="page" href="{{ path('books') }}" >Книги</a>
                </li>
{#                <li class="nav-item">
                    <a class="nav-link {{ get_active_widget('books') }}" aria-current="page" href="{{ path('video') }}" >Видео</a>
                </li>#}
            </ul>
        </div>
    </div>
</nav>

{{ feedback_modal_widget() }}