<template>
    <li><a class="dropdown-item" :href="href" @click.prevent="remove">Delete</a></li>
</template>

<script>
export default {
    props: ['href'],
    methods: {
        remove() {
            let request = new Request(this.href, {
                method: 'post',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            });
            fetch(request);
            window.location.reload();
        }
    }
}
</script>
