<template>
    <li>
        <a href="#" @click.prevent="edit(page.id)" :title="page.title" class="text-decoration-none">{{ page.title }}</a>
        <span class="icon">
            <a href="#" @click.prevent="create(page.id)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-plus-square" viewBox="0 0 16 16">
                    <path
                        d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </a>
        </span>
        <ul v-if="page.children">
            <PageItem v-for="(children, index) in page.children" :page="children" :key="index"></PageItem>
        </ul>
    </li>
</template>

<script>
import {useStore as usePageFormStore} from '@Vue/form/cp/page.pinia';
import Pinia from '@Vue/src/Services/pinia';
import RouteCpService from '@Js/services/RouteCpService';
import lodash from 'lodash';
const pinia = Pinia.create();

export default {
    setup() {
        const pageFormStore = usePageFormStore(pinia);
        return {
            pageFormStore,
        }
    },
    data() {
        return {
            pageId: undefined,
        }
    },
    name: 'PageItem',
    props: ['page'],
    methods: {
        edit(id) {
            this.pageId = id;
            this.pageFormStore.url = new RouteCpService().generatePageEdit(id);
            this.pageFormStore.init(this.pageId);
        },
        create(parentId) {
            this.pageFormStore.url = new RouteCpService().generatePageCreate();
            if (lodash.isNil(parentId)) {
                this.pageFormStore.parent.value = '';
            } else {
                this.pageFormStore.parent.value = parentId;
            }
            this.pageFormStore.title.value = '';
            this.pageFormStore.content.value = '';
            this.pageFormStore.publish.value = false;
            this.pageFormStore.metaTitle.value = '';
            this.pageFormStore.metaDescription.value = '';
        }
    }
}
</script>
