<template>
    <nav>
        <ul v-if="havePaginator" class="pagination justify-content-center">
            <li v-if="store.paginator.getPage() > 1" class="page-item">
                <a @click.prevent="loadPage(store.paginator.getPage() - 1)" class="page-link" href="">
                    Previous
                </a>
            </li>
            <li v-else class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <template  v-for="(number, index) in getNumbers().reverse()">
                <li v-if="store.paginator.havePrevPage(number)" class="page-item"  :key="index">
                    <a @click.prevent="loadPage(store.paginator.getPrevPage(number))" class="page-link" href="">
                        {{ store.paginator.getPrevPage(number) }}
                    </a>
                </li>
            </template>
            <li class="page-item disabled">
                <a class="page-link">
                    {{ store.paginator.getPage() }}
                </a>
            </li>
            <template v-for="(number, index) in getNumbers()">
                <li v-if="store.paginator.haveNextPage(number)" class="page-item"  :key="index">
                    <a @click.prevent="loadPage(store.paginator.getNextPage(number))" class="page-link" href="">
                        {{ store.paginator.getNextPage(number) }}
                    </a>
                </li>
            </template>
            <li v-if="store.paginator.getPage() === store.paginator.getMaxPage()" class="page-item disabled">
                <a class="page-link">Next</a>
            </li>
            <li v-else class="page-item">
                <a @click.prevent="loadPage(store.paginator.getPage() + 1)" class="page-link" href="">
                    Next
                </a>
            </li>
        </ul>
    </nav>
</template>

<script>
    import {PaginatorService} from '@Vue/src/Services/PaginatorService';
    import {useStore} from '@Vue/page/cp/dictionaries.pinia';

    export default {
        setup() {
            const store = useStore();
            return {
                store
            }
        },
        methods: {
            loadPage(page) {
                this.store.params.page = page;
                this.store.loadDictionaries();
            },
            getNumbers() {
                return [1, 2, 3, 4, 5];
            },
        },
        computed: {
            havePaginator() {
                return this.store.paginator instanceof PaginatorService;
            },
        }
    }
</script>